
<clientnavbar></clientnavbar> <!-- Page header -->
<div class="all">

    <div id="content">

        <div class="container">
            <div class="col-md-12">
                <div class="main-slider">
                    <div class="item">
                        <img src="assets/img/main-slider1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="assets/img/main-slider2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="assets/img/main-slider3.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="assets/img/main-slider4.jpg" alt="">
                    </div>
                </div>
                <!-- /#main-slider -->
            </div>
        </div>

        <!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
        <div id="advantages">

            <div class="container">
                <div class="same-height-row">
                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon"><i class="fa fa-heart"></i>
                            </div>

                            <h3><a href="#">Nous aimons nos clients</a></h3>
                            <p>Nous sommes connus pour fournir le meilleur service possible.</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon"><i class="fa fa-tags"></i>
                            </div>

                            <h3><a href="#">Meilleurs prix</a></h3>
                            <p>Nous savons que certains de nos concurrents offrent des services à plus bas prix, mais nous savons aussi que nous offrons le meilleur rapport qualité-prix qui soit. </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon"><i class="fa fa-thumbs-up"></i>
                            </div>

                            <h3><a href="#">Satisfaction garantie 100%</a></h3>
                            <p>Retours gratuits sur tout pendant 3 mois.</p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->

        <!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
        <div id="hot">

            <div class="box">
                <div class="container">
                    <div class="col-md-12">
                        <h2>Nouveau cette semaine</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="product-slider">
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product1_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="product/1" class="invisible">
                                <img src="assets/img/product1.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a routerLink="product/1">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product2_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="product/1" class="invisible">
                                <img src="assets/img/product2.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a routerLink="product/1">White Blouse Armani</a></h3>
                                <p class="price"><del>$280</del> $143.00</p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product3.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product3_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="product/1" class="invisible">
                                <img src="assets/img/product3.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a routerLink="product/1">Black Blouse Versace</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product4.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product4_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="product/1" class="invisible">
                                <img src="assets/img/product3.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a routerLink="product/1">Black Blouse Versace</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product2_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="product/1" class="invisible">
                                <img src="assets/img/product2.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a routerLink="product/1">White Blouse Versace</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product1_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="product/1" class="invisible">
                                <img src="assets/img/product1.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a routerLink="product/1">Fur coat</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                        </div>
                        <!-- /.product -->
                    </div>
                    <!-- /.col-md-4 -->

                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product2_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="product/1" class="invisible">
                                <img src="assets/img/product2.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a routerLink="product/1">White Blouse Armani</a></h3>
                                <p class="price"><del>$280</del> $143.00</p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product3.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a routerLink="product/1">
                                            <img src="assets/img/product3_2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="product/1" class="invisible">
                                <img src="assets/img/product3.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a routerLink="product/1">Black Blouse Versace</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.container -->

        </div>
        <!-- /#hot -->

        <!-- *** HOT END *** -->

        <!-- *** GET INSPIRED ***
_________________________________________________________ -->
        <div class="container" data-animate="fadeInUpBig">
            <div class="col-md-12">
                <div class="box slideshow">
                    <h3>Inspiration</h3>
                    <p class="lead">Get the inspiration from our world class designers</p>
                    <div id="get-inspired" class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="#">
                                <img src="assets/img/getinspired1.jpg" alt="Get inspired" class="img-responsive">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="assets/img/getinspired2.jpg" alt="Get inspired" class="img-responsive">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="assets/img/getinspired3.jpg" alt="Get inspired" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** GET INSPIRED END *** -->

        <!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->

        <div class="box text-center" data-animate="fadeInUp">
            <div class="container">
                <div class="col-md-12">
                    <h3 class="text-uppercase">AGRA</h3>

                    <p class="lead">" Accordez-nous votre confiance, nous apportons une solution adaptée à chacun de vos besoins "
                    </p>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="col-md-12" data-animate="fadeInUp">

                <div id="blog-homepage" class="row">
                    <div class="col-sm-6">
                        <div class="post">
                            <h4><a href="post.html">Qui nous sommes</a></h4>
                            <p class="author-category">Par <a onclick="return false;" href="#">Houssam Adib</a> dans <a onclick="return false;" href="">Département de l'administration</a>
                            </p>
                            <hr>
                            <p class="intro">La société AGRA est spécialisée dans la distribution d’ingrédients alimentaires et d’additifs fonctionnels et le négoce de végétaux ingrédients.
                                Notre vocation est le service et la proposition de solutions techniques et qualitatives auprès de nos clients, industriels de l’agroalimentaire.
                                
                                Nous offrons la nature au service des sens dans quatre domaines de compétences : Texture et Stabilisation, Couleur et Brillance, Goût et Nutrition, Marquants et Inclusions.</p>
                            <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">  
                        <div class="post">
                            <h4><a href="post.html">Les atouts de la société AGRA </a></h4>
                            <p class="author-category">Par <a onclick="return false;" href="#">Omar Hanafi</a> dans <a onclick="return false;" href="">Département de l'administration</a>
                            </p>
                            <hr>
                            <p class="intro">
                                Une équipe d’experts de l’agroalimentaire dédiée pour un accompagnement technique de proximité
                                Un laboratoire d’application pour le développement de vos solutions et produits
                                Une politique qualité rigoureuse
                                Un service logistique flexible et efficace
                                La réactivité d’une structure à taille humaine
                                Des partenariats solides
                                <br>
                                Répondre à vos projets en proposant des produits aux domaines d’application très variés
                            </p>
                            <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a>
                            </p>
                        </div>

                    </div>

                </div>
                <!-- /#blog-homepage -->
            </div>
        </div>
        <!-- /.container -->

        <!-- *** BLOG HOMEPAGE END *** -->


    </div>
    <!-- /#content -->


    <clientfooter></clientfooter>    <!-- Page footer -->
</div>