<app-adminheader></app-adminheader>

<div id="all">

  <div id="content">
    <div class="container">

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Products section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <li [ngClass]="{'active' : isActive(0)}">
                            <a href="" onClick="return false;"><i class="fa fa-list"></i> Product list</a>
                        </li>
                        <li [ngClass]="{'active' : isActive(1)}">
                            <a href="" onClick="return false;"><i class="fa fa-plus-circle"></i> New product</a>
                        </li>
                        <li>
                            <a routerLink="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->

            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <ng-container [ngSwitch]="activeTab">
            <adminlistproduct *ngSwitchCase="0"></adminlistproduct>
            <adminaddproduct *ngSwitchCase="1" [allCategories]="allCategories"></adminaddproduct>
        </ng-container>
        

    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->

</div>