
	<div class="container">
		<div class="login-form">
			<div class="main-div">
	    		<div class="panel">
            <img style="width: 125px" src="assets/img/logoagra.png"/>
            <h2>Login-In</h2><br/>
	   			</div>
           	<form #loginForm="ngForm" (ngSubmit)="loginProcess(loginForm)">
	        		<div class="form-group">
                  <input type="text" name="username" ngModel class="form-control" required placeholder="Username"/>
	       			</div>
	        		<div class="form-group">
	            		<input type="password" name="password" ngModel class="form-control" required placeholder="Password"/>
              </div>
              <p *ngIf="loginError" style="color:red; text-align: left; font-size:15px">Invalid credentials</p>
              <br/>
		        	<button type="submit" class="btn btn-primary">Login</button>
		    	</form>
		    </div>
		</div>
	</div>


    <!-- JavaScript files-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="assets/js/front.js"></script>

<router-outlet></router-outlet>
