
<div class="container">
		<div class="login-form">
			<div class="main-div">
	    		<div class="panel">
            <img style="width: 125px" src="assets/img/logoagra.png"/>
            <h2>Login-In</h2><br/>
	   			</div>
           <form #loginForm="ngForm" (ngSubmit)="loginProcess(loginForm)">
	        		<div class="form-group">
                  <input type="text" name="username" ngModel class="form-control" required placeholder="Username"/>
	       			</div>
	        		<div class="form-group">
	            		<input type="password" name="password" ngModel class="form-control" required placeholder="Password"/>
              </div>
              <p *ngIf="loginError" style="color:red; text-align: left">Invalid credentials</p>
              <br/>
		        	<button type="submit" class="btn btn-primary">Login</button>
		    	</form>
		    </div>
		</div>
	</div>


<router-outlet></router-outlet>
