<app-adminheader></app-adminheader>

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <!-- *** PAGES MENU ***
_________________________________________________________ -->
                <p>Logged in as : {{user.username}}</p>
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Pages</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="text.html">Accounts settings</a>
                            </li>
                            <li>
                                <a href="contact.html">Product management</a>
                            </li>
                            <li>
                                <a href="faq.html">Account management</a>
                            </li>

                        </ul>

                    </div>
                </div>

                <!-- *** PAGES MENU END *** -->
                
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

</div>