    <div class="box" *ngIf="selected == true">
        <h1>Product details</h1>
  
        <div id="successalert" style="display:none" class="alert alert-success" role="alert">
          Product added !
        </div>
        
        <form #updateProductForm="ngForm" (ngSubmit)="updateProduct(); updateProductForm.reset();">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input [(ngModel)]="selectedProduct.designation" type="text" class="form-control" id="designation" name="designation">
                    </div>
                </div>
            </div>
            <!-- /.row -->  
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select [(ngModel)]="selectedProduct.category.id" class="form-control" name="category" id="category">
                            <ng-container *ngFor="let category of allCategories">
                                <option [ngValue]="category.id">{{category.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input [(ngModel)]="selectedProduct.price" type="text"  class="form-control" id="price" name="price">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input [(ngModel)]="selectedProduct.weight" type="text" class="form-control" id="weight" name="weight">
                    </div>
                </div>
            </div>
            <!-- /.row -->
  
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="description">Description</label>
                      <textarea [(ngModel)]="selectedProduct.description" id="description" name="description" class="form-control" rows="2"></textarea>
                  </div>
              </div>
            </div>
            <!-- /.row -->
  
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="ingredients">Ingredients</label>
                      <textarea [(ngModel)]="selectedProduct.ingredients" id="ingredients" name="ingredients" class="form-control" rows="1"></textarea>
                  </div>
              </div>
            </div>
            <!-- /.row -->
  
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      <label>Image</label>
                      <div class="input-group">
                          <span class="input-group-btn">
                              <span class="btn btn-default btn-file">
                                  Browse… <input (change)="onFileSelected($event)" id="image" name="image" type="file" class="imgInp">
                              </span>
                          </span>
                          <input type="text" class="form-control" readonly>
                      </div>
                      <img class='img-upload thumbnail' [src]="selectedProduct.safeUrl"/>
                  </div>
                </div>
              </div>
  

            <div class="row">
                <div class="col-md-offset-3 col-md-3 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Submit Changes</button>
                </div>
                <div class="col-md-3 text-center">
                    <button (click)="deleteProduct(selectedProduct.id)" type="button" class="btn btn-danger"><i class="fa fa-minus-circle"></i> Delete Product</button>
                </div>
            </div>
        </form>
    </div>